header{ 
    background-color: yellow;
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    margin-right: calc((100% - 800px) / 2);
}
main{
    background-color: yellowgreen;
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
}