body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f8f8f8;
}

header {
    display: inline-block;
    width: 800px;
    float: left;
    margin-left: calc((100% - 800px) / 2);
    margin-right: calc((100% - 800px) / 2); 
    background-color: #f8f8f8;
    
}

header > img {
    display: inline-block;
    height: 70px;
    float: left;
}
header > nav {
    display: inline-block;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    
}
nav > a {
    display: inline-block;
    float: left;
    font-size: 16px;
    line-height: 20px;
    padding-inline-end: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: rgb(95, 93, 93);
    border: 5px solid transparent;
    border-radius: 15px;
    border-width: 3px;
}
a:last-of-type {  
    border-color: rgb(95, 93, 93);
    margin-left: 15px;
}

main {
    display: inline-block;
    width: 800px;
    float: left;
    margin-left: calc((100% - 800px) / 2);
    margin-right: calc((100% - 800px) / 2); 
    margin-top: 20px;
    background-color: #f8f8f8;
}
div {
    display: inline-block;
    width: 38%;
    float: left;
    margin-left: 4%;
    margin-top: 45px;
    color: rgb(95, 93, 93);
   
}
h1 {
    font-size: 90px;
    margin: 0%;
}
p {
    display: inline-block;
    font-size: 22px;
    margin-block: auto;

}
main > img{
width: 46%;
margin-left: 8%;
}
span {
    display: block;
}